# Rename this file to .env and provide the necessary values. For local overrides, use a .env.local file; it will take priority over both .env and .env.public. To include extra environment files, update the RepositoryEnv list in settings.py.

# Django settings
DJANGO_SECRET_KEY='django-insecure-d0#1k4@9(=sqzbvcn()n!$@aw@!-%ieg&-h(!dpf*ipwbj@xf#''
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
DB_ENGINE=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=