# Environment variables for Django Starter Template

# Project settings
PROJECT_NAME=django-starter-template
PROJECT_DESCRIPTION=A starter template for Django projects with best practices and essential features.
PROJECT_VERSION=0.1.0

# Django settings
DJANGO_SECRET_KEY='django-insecure-d0#1k4@9(=sqzbvcn()n!$@aw@!-%ieg&-h(!dpf*ipwbj@xf#''
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database settings
DB_ENGINE=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=